<style>

    .ad-banner {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .product-categories {
        
        margin-bottom: 20px;
        text-align: center;
    }
    
    .product-categories-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        text-align: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }
    
    .product-categories-list li {
        margin-right: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .product-categories-list li div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /*.product-categories-list li div img {
        width: 100px;이미지 크기 조정
        height: auto;
    }*/
    
    .product-categories-list li div a {
        text-decoration: none;
        color: #333;
    }
    .product-categories-list li div a:hover {
        color: #007bff;
    }
    .board {
        margin-bottom: 20px;
        text-align: center;
    }
    
    object {
        overflow: hidden;
    }
    
    </style>
    
    <html>
    <div class="ad-banner">
        <h2>광고</h2>
        <img src="https://via.placeholder.com/1000x300.jpg" alt=광고 이미지 임시">
        <!-- 다음 이미지들 넣을것 -->
    </div>
    <hr>
    <div class="product-categories">
        <nav>
       <ul class="product-categories-list">
               <li>
                   <div>
                       <img src="https://via.placeholder.com/100x100.jpg" alt="의류 이미지 임시">
                       <a href="product.html" target="iframe">의류</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="가전 이미지 임시">
                    <a href="product.html" target="iframe">가전</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="컴퓨터 이미지 임시">
                    <a href="product.html" target="iframe">컴퓨터</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="음식 이미지 임시">
                    <a href="product.html" target="iframe">음식</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="잡화 이미지 임시">
                    <a href="product.html" target="iframe">잡화</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="문구 이미지 임시">
                    <a href="product.html" target="iframe">문구</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="서적 이미지 임시">
                    <a href="product.html" target="iframe">서적</a>
                   </div>
               </li>
               <li>
                   <div>
                    <img src="https://via.placeholder.com/100x100.jpg" alt="기타 이미지 임시">
                    <a href="product.html" target="iframe">기타</a>
                   </div>
               </li>
         </ul>
         </nav>
       </div>
    
    <div class="board">
        <object type="text/html" data="list.html" width="1000" height="400"></object>
    
    </div>
    
    </div>
    
    </html>