<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="font.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>홈페이지</title>
<style>

body {
    /*
    margin: 0;
    padding: 0;*/
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
}
.logo
{
    justify-content:left;

}
.search-bar {
    height: 30px;
    width: 75%; 
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: none; 
    border-radius: 25px; 
    background-color: #f4f4f4;
    padding: 10px 20px;
}

.search-bar input {
    width: 75%; 
    height: 80%;
    border: none; 
    background: none; 
    outline: none; 
}

.search-btn {
    width: 10%; 
    height: 100%;
    background: none; 
    border: none; 
    cursor: pointer;
}

.search-btn img {
    width: 100%;
    height: auto;
}

.login-btn {
    margin-left: 20px;
}

.categories  {
    margin-bottom: 20px;
    text-align: center;
}
.category-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.category-list li {
    margin-right: 20px;
}
.category-list li:last-child {
    margin-right: 0;
}
.category-list li a {
    text-decoration: none;
    color: #333;
}
.category-list li a:hover {
    color: #007bff;
}

.ifrm {
    overflow: hidden; /*스크롤바 안없어지는 문제 있음*/
}
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4;
}
</style>
</head>
<body>

<div class="container">

    <div class="header">
        <div class="logo">
            <a href="index.html"><img src="logo.png" alt="로고" width="100" height="50"></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="검색어를 입력하세요">
            <button type="submit" class="search-btn"><img src="search-icon.png" alt="검색" width="30" height="30"></button>
        </div>
        <a href="login.html" class="login-btn">
            <img src="user.png" alt="로그인" width="50" height="50">
        </a>
    </div>

    <div class="categories">
        <nav>
            <ul class="category-list">
                <li><a href="list.html" target="iframe">공지사항</a></li>
                <li><a href="temp_page.html"target="iframe">사이트소개</a></li>
                <li><a href="boardwrite.html"target="iframe">고객센터</a></li>
                <li><a href="temp_page.html"target="iframe">팀소개</a></li>
                <li><a href="temp_page.html"target="iframe">프로젝트 소개</a></li>
                
            </ul>
        </nav>
    </div>
<hr>

    
    
    

<footer class="footer">
    <p>2024 캡스톤 디자인 - 캡틴</p>
</footer>

</body>
</html>