<head><link rel="stylesheet" href="font.css"></head>
<style>
.ad-banner img {
    margin-bottom: 20px;
    text-align: center;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-categories {
    
    margin-bottom: 20px;
    text-align: center;
}

.product-categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    
}

.product-categories-list li {
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    flex-basis: calc(25% - 20px);
}

.product-categories-list li div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-categories-list li div img {
    height: auto;
    margin-bottom: 10px;
    text-align: center;
    max-width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-categories-list li div a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.product-categories-list li div a:hover {
    color: #007bff;
}
.board {
    margin-bottom: 20px;
    text-align: center;
}

object {
    overflow: hidden;
}

</style>

<html>
<div class="ad-banner">
    <img src="https://via.placeholder.com/1000x300.jpg" alt="광고 이미지 임시">
</div>
<hr>
<div class="product-categories">
    <nav>
   <ul class="product-categories-list">
           <li>
               <div>
                   <img src="top.png" alt="상의" height="100px" width="100px">
                   <a href="product.html" target="iframe">상의</a>
               </div>
           </li>
           <li>
               <div>
                <img src="outer.png" alt="아우터">
                <a href="product1.html" target="iframe">아우터</a>
               </div>
           </li>
           <li>
               <div>
                <img src="pants.png" alt="하의">
                <a href="product2.html" target="iframe">하의</a>
               </div>
           </li>
           <li>
               <div>
                <img src="onepiece.png" alt="원피스">
                <a href="product3.html" target="iframe">원피스</a>
               </div>
           </li>
           <li>
               <div>
                <img src="underwear.png" alt="언더웨어">
                <a href="product4.html" target="iframe">언더웨어</a>
               </div>
           </li>
           <li>
               <div>
                <img src="shose.png" alt="신발">
                <a href="product5.html" target="iframe">신발</a>
               </div>
           </li>
           <li>
               <div>
                <img src="acc.png" alt="악세서리">
                <a href="product6.html" target="iframe">악세서리</a>
               </div>
           </li>
           <li>
               <div>
                <img src="swimwear.png" alt="수영복">
                <a href="product7.html" target="iframe">수영복</a>
               </div>
           </li>
     </ul>
     </nav>
   </div>

<div class="board">
    <object type="text/html" data="list.html" width="100%" height="1000vh"></object>

</div>

</div>

</html>